APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomStringWith32Characters

DB_HOST=192.168.0.5
DB_DATABASE=gopagoda
DB_USERNAME=johnny
DB_PASSWORD=1th8XvJf

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=strath.clearance@gmail.com
MAIL_PASSWORD=underscore123
MAIL_ENCRYPTION=tls